<!doctype html>
<html>
    <head>
        <title>Envio de arquivo de Áudio Projeto InData</title>
    </head>
    <body>
        <h1>Enviar arquivo de Áudio (.wav)</h1>
        <form action="/display" method="post" enctype="multipart/form-data">
            <label for="file">Selecione um arquivo de áudio (.wav):</label>
            <input type="file" name="file" id="file" accept=".wav" required>
            <br><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
